body {
	margin: 0;
	color: white;
	background: rgb(153, 195, 254);
	background: linear-gradient(
		-45deg,
		rgba(153, 195, 254, 1) 0%,
		rgba(68, 94, 223, 1) 20%,
		rgba(102, 178, 251, 1) 40%,
		rgba(123, 132, 236, 1) 60%,
		rgba(83, 132, 215, 1) 80%,
		rgba(157, 195, 245, 1) 100%
	);
	background-size: 400% 400%;
	animation: moving-gradient 25s ease infinite;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	font-weight: 900;
}
h2 {
	font-size: 1.5rem;
	font-weight: 700;
}
h3 {
	font-size: 1.4rem;
	font-weight: 700;
}
h4 {
	font-size: 1.2rem;
	font-weight: 600;
}
h5 {
	font-size: 1.1rem;
	font-weight: 600;
}
h6 {
	font-size: 1.05rem;
	font-weight: 600;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@keyframes moving-gradient {
	0% {
		background-position: 0% 25%;
	}
	25% {
		background-position: 50% 75%;
	}
	50% {
		background-position: 50% 100%;
	}
	75% {
		background-position: 75% 50%;
	}
	100% {
		background-position: 0% 25%;
	}
}
