.container {
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	align-items: center;
	position: fixed;
	top: 0;
	background: none;
}

.ellipse {
	display: block;
	position: absolute;
	box-sizing: border-box;
	height: 110px;
	width: 100vw;
	background: rgb(42, 85, 215);
	background: radial-gradient(
		circle,
		rgba(117, 165, 255, 1) 0%,
		rgba(165, 255, 199, 0.75) 35%,
		rgba(141, 168, 255, 0.5) 100%
	);
	clip-path: ellipse(70% 100% at 50% 0%);
	z-index: 1;
}

.name {
	justify-self: left;
	margin-left: 1rem;
	z-index: 2;
}

.homeLink {
	z-index: 2;
}

.logo {
	height: 80px;
	margin: -0.3rem 0.6rem -1.5rem 0.6rem;
	pointer-events: none;
	justify-self: center;
	z-index: 2;
}

.navSection {
	justify-self: right;
	display: flex;
	margin-right: 1rem;
	z-index: 2;
}

.navSection a {
	margin: 0.15rem;
	display: flex;
}

.navSection a img {
	height: 1rem;
	margin-bottom: -0.2rem;
}

.navSection p {
	margin-left: 0.1rem;
	margin-right: 0.3rem;
}

.navSection a {
	margin: 0 0.3rem;
}

@media (prefers-reduced-motion: no-preference) {
	.logo :local {
		animation: back-and-forth infinite 4s ease-in-out;
	}
}

@keyframes back-and-forth {
	0% {
		transform: scale(0.9) translateY(-1px);
	}
	50% {
		transform: scale(1) translateY(5px);
	}
	100% {
		transform: scale(0.9) translateY(-1px);
	}
}
